*{
    margin: 0;
    padding: 0;
}
/*html{
    font-size: 10px;
    background-color: #ffffff;
    color: #333;
    font-family: 'Lumanosimo';
}*/
header{
    min-height: 100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(../pexels-ready-made-3850689.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top:150px;
    padding-left: 375px;
   
}
.main-nav   {
    list-style: none;
    display: flex;
    border: solid 2px white;
    background-color: rgba(0, 238, 255, 0.011);
    border-radius: 20%;
    padding: 20px 40px;
   
}
.main-nav li , .social-nav li , .footer-nav li{
    padding: 0px 20px;
}
.main-nav li a , .social-nav li a, .footer-nav li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.main-nav li a:hover , .social-nav li a:hover, .footer-nav li a:hover{
    text-decoration: underline;
    color:  rgb(159, 118, 91);
}
.description{
    position: absolute;
    top: 50%;
    left: 5%;
}
h3 , h2 , p{
    text-transform:uppercase ;
    color:white;
    font-size: 1rem;
    font-weight: 200;
    letter-spacing: 2px;
    margin-bottom: 30px;
}
.btn{
    border: solid 1px rgb(161, 119, 91);
    margin-right: 15px;
    padding: 20px;
    border-radius: 30px;
    color:rgb(159, 118, 91);
    text-decoration: none;
}
.btn:hover{
    color: white;
    background-color:rgb(159, 118, 91);
}
section{
    padding: 40px 0px;
    text-align: center;
}
.short{
    width:100px ;
    margin: 20px auto;
    border: solid 4px rgb(159, 118, 91);
}
.h2{
    color: rgb(36, 35, 34);
}
.box{
    text-align: center;
}
.box i{
    font-size: 36px;
    color:rgb(196, 149, 119);
    margin-bottom: 10px;
}
.box h3{
    margin-bottom: 10px;
}
.services{
    padding: 0%;
    overflow: hidden;
}
.services img{
    width: 100%;
    margin-bottom: -5px;
    margin-top: 25px;
    opacity: .5;
    transition: 0.5s;
    transform: rotateZ(15deg);
}
.services img:hover{
    opacity: 1;
    transform:rotateY(30deg);
}
span{
    color:rgb(156, 118, 71);
}
hr{
    width: 250px;
    margin: 20px auto;
    border: solid 4px rgb(159, 118, 91);
}
.offer{
    text-align: center;
    border: solid 2px rgba(64, 93, 98, 0.203);
    border-right: none;
    background-color: rgba(215, 194, 161, 0.489);
    border-radius: 30%;
}
.offers img{
    border: solid 1px rgb(255, 254, 254);
    height: 150px;
    border-radius: 30%;
    vertical-align: middle;
    margin-bottom: 15px;

}
.offers p{
    color: black;
    text-align: center;
    justify-content: center;
    text-transform: capitalize;
    letter-spacing: normal;

}
footer{
    padding: 40px 0px;
    background-color: rgba(60, 40, 8, 0.553);
}
footer p{
    color: #322c28;
    margin-top: 30px;
    text-align: center;
}
footer a{
    color: #322c28; 
}
.social-nav  , .footer-nav{
    list-style: none;
    display: flex;
}
.hr{
    width: auto;
    margin: 20px auto;
    border: solid 2px rgb(159, 118, 91);
}
.info i{
    color:rgb(196, 149, 119);
}


